<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.headingWrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    
}

.heading{
    width: 100%;
    font-weight: bold;
}

    </style>
</head>
<body>

    <header class="headingWrapper">
        <h1 class="heading">Awesome, You've logged in!!!</h1>
        <button>
            <a href="http://localhost:9000/">logout</a>
        </button>
    </header>
</body>
</html>